<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!--===== Required meta tags =====-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ seo.meta_author }}"/>
    <meta name="description" content="{{ seo.meta_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="{{ seo.meta_keywords }}"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="{{ seo.meta_type }}"/>
    <meta property="og:title" content="{{ seo.meta_title }}"/>
    <meta property="og:url" content="{{ seo.meta_url }}"/>
    <meta property="og:site_name" content="{{ seo.meta_site_name }}"/>

    <!--===== Title =====-->
    <title>{% block title %} {{ company_info.name }} - {{ company_info.tag_line }} {% endblock title %}</title>

    <!--===== Favicon =====-->
    <link rel="shortcut icon" href="{{ company_info.favicon.url }}"/>

    <!--===== Google fonts =====-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap">

    <!--===== Global bootstrap required css =====-->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <!--===== Global styles including: Font Icons, Plugins, etc =====-->
    <link rel="stylesheet" href="{% static 'css/font-awesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/feather/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-stroke/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple-line-icons/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-stroke/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/mCustomScrollbar/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select/select2.min.css' %}">

    <!--===== Main theme css =====-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_style %}
    {% endblock extra_style %}
</head>

<body class="stokes-wrapper px-md-6 pb-md-6 stokes-line">

<!--========== 
	Start of Header Section ==========-->

<header class="header">
    <!--===== Start of navbar =====-->
    <nav class="navbar navbar-light navbar-expand-lg navbar-default navbar-text-dark">
        <div class="container-fluid">

            <!--===== Start of logo =====-->
            <a class="navbar-brand" href="#"> <img class="logo" src="{{ company_info.logo.url }}" alt=""> </a>
            <!--===== End of logo =====-->

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>

            <!--===== Start of nav =====-->
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" id="navbar-home"> <span
                                class="text-line">Home </span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about_us' %}" id="navbar-about"> <span class="text-line">About Us </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-pages" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="text-line"> Products </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-pages">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#"><span class="text-line"> Product 1 </span></a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#"><span class="text-line"> Product 1 </span></a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#"><span class="text-line"> Product 1 </span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}" id="navbar-services"> <span class="text-line">Services </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_us' %}" id="navbar-contact"> <span class="text-line">Contact Us </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'support_faqs' %}" id="navbar-support"> <span
                                class="text-line">Support </span> </a>
                    </li>
                </ul>
            </div>
            <!--===== End of nav =====-->
        </div>
    </nav>
    <!--===== End of navbar =====-->

</header>

<!--========== 
	End of header ==========-->


<!--========== 
	Start of banner section ==========-->
{% block main_content %}


{% endblock main_content %}
<!--==========
	Start of Clients section ==========-->

<section class="py-lg-6">
    <div class="container">
        <div class="row justify-content-center">
            {% for partner in partners %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <!--===== Start of testimonials item =====-->
                <div class="client-item">
                    <img class="img-fluid image-grayscale" src="{{ partner.partner_logo.url }}" alt="">
                </div>
                <!--===== End of testimonials item =====-->
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<!--==========
	End of Clients section ==========-->
<section>
    <div class="container">
        <hr>
    </div>
</section>
<!--========== 
	Start of footer section ==========-->

<footer class="footer slice-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a href="/"> <img class="footer-logo" src="{{ company_info.logo.url }}" alt=""> </a>
                <p class="mt-4">©
                    <script>document.write(new Date().getFullYear())</script>
                    <a target="_blank" class="text-primary" href="#">Devlints </a>all right reserved
                </p>
                <!--===== Start of footer item =====-->
                <div class="social-icons social-icon-box icons-md social-icon-round">
                    <a class="icon" href="{{ company_info.facebook }}" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                    <a class="icon" href="{{ company_info.twitter }}" target="_blank"> <i class="fab fa-twitter"></i> </a>
                    <a class="icon" href="{{ company_info.linkedIn }}" target="_blank"> <i class="fab fa-linkedin"></i> </a>
                    <a class="icon" href="{{ company_info.instagram }}" target="_blank"> <i class="fab fa-instagram"></i> </a>
                    <a class="icon" href="{{ company_info.github }}" target="_blank"> <i class="fab fa-github"></i> </a>
                </div>
                <!--===== End of footer item =====-->
            </div>
            <div class="col-lg-2 col-sm-6 mb-lg-0 mb-4">

                <!--===== Start of footer item =====-->
                <div class="footer-links">
                    <h5 class="text-primary mb-4">Company</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="{% url 'about_us' %}">About Us</a></li>
                        <li class="mb-2"><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li class="mb-2"><a href="{% url 'services' %}">Services</a></li>
                        <li class="mb-2"><a href="#">Careers</a></li>
                    </ul>
                </div>
                <!--===== End of footer item =====-->

            </div>
            <div class="col-lg-2 col-sm-6 mb-lg-0 mb-4">

                <!--===== Start of footer item =====-->
                <div class="footer-links">
                    <h5 class="text-primary mb-4">Useful Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Privacy Policy</a></li>
                        <li class="mb-2"><a href="#">Terms & Conditions</a></li>
                        <li class="mb-2"><a href="#">EULA</a></li>
                        <li class="mb-2"><a href="#">GDPR Compliance</a></li>
                    </ul>
                </div>
                <!--===== End of footer item =====-->

            </div>
            <div class="col-lg-2 col-sm-6">
                <!--===== Start of footer item =====-->
                <div class="footer-links">
                    <h5 class="text-primary mb-4">Products</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Product 1</a></li>
                        <li class="mb-2"><a href="#">Product 2 </a></li>
                        <li class="mb-2"><a href="#">Product 3</a></li>
                        <li class="mb-2"><a href="#">Product 4</a></li>
                    </ul>
                </div>
                <!--===== End of footer item =====-->
            </div>
            <div class="col-lg-2 col-sm-6">
                <!--===== Start of footer item =====-->
                <div class="footer-links">
                    <h5 class="text-primary mb-4">Support</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Tickets</a></li>
                        <li class="mb-2"><a href="#">Documentation</a></li>
                        <li class="mb-2"><a href="#">Tutorials</a></li>
                    </ul>
                </div>
                <!--===== End of footer item =====-->
            </div>
        </div>
    </div>
</footer>


<!--========== 
	End of footer section ==========-->


<!--========== 
	Start of back to top section ==========-->

<div class="go-top">
    <p class="go-top-text">Scroll to top <i class="fas fa-long-arrow-alt-right ps-2"></i></p>
</div>

<!--========== 
	End of back to top section ==========-->


<!--========== 
	Start of Javascript ==========-->

<!--===== Global required js =====-->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<!--===== Global script: js libraries and plugins =====-->
<script src="{% static 'js/appear/jquery.appear.js' %}"></script>
<script src="{% static 'js/swiper/swiper.min.js' %}"></script>
<script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/typer/typer.js' %}"></script>
<script src="{% static 'js/mCustomScrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
<script src="{% static 'js/jarallax/jarallax.min.js' %}"></script>
<script src="{% static 'js/select/select2.min.js' %}"></script>

<!--===== Main theme script =====-->
<script src="{% static 'js/functions.js' %}"></script>

<!--==========
  End of Javascript ==========-->

</body>
</html>