{% extends 'base/base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock title %}

{% block main_content %}
    <!--==========
  Start of page title ==========-->

    <section class="py-5">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <h1>Get in Touch</h1>
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of page title ==========-->

    <!--==========
      Start of contact section ==========-->

    <section class="slice-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mt-8">
                    <!--===== Start of left =====-->
                    <span class="display-5 text-primary-gradient d-block mb-4">{{ contact.phone_number }}</span>
                    <span class="display-5 text-primary-gradient">{{ contact.email_address }}</span>
                    <div class="pricing-list list-style-02 mb-4">
                        <div class="row mt-5">
                            <div class="col-lg-6 mt-4">
                                <h4>Address </h4>
                                <p class="h6">{{ contact.physical_address }}</p>
                            </div>
                            <div class="col-lg-6 mt-4">
                                <h4>Call </h4>
                                <p class="h6">{{ contact.email_address }}</p>
                                <p class="h6">{{ contact.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                    <!--===== End of left =====-->

                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="p-4 p-md-5 shadow  border rounded">

                        <!--===== Start of form =====-->
                        <form class="form-light">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="First Name" value="">
                                <label>First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Last Name">
                                <label>Last Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Email Address" value="">
                                <label>Your Mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="+444 (111 456 1465)" value="">
                                <label>Your Phone</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Your message" rows="3"></textarea>
                                <label>Your Message</label>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label">
                                        I accept the terms & conditions and I understand that my data will be held
                                        securely in accordance with the privacy policy.
                                    </label>
                                </div>
                            </div>
                            <div class="d-grid">
                                <a class="btn btn-warning btn-rounded" href="#">Get in touch</a>
                            </div>
                        </form>
                        <!--===== End of form =====-->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of contact section ==========-->

    <!--==========
      Start of google map section ==========-->

    <!--==========
      End of google map section ==========-->

{% endblock main_content %}